html,
body,
#root {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.calendar-container .MuiButton-root {
  position: absolute;
  top: 10px;
  z-index: 10;
}

.calendar-container .MuiButton-root:first-of-type {
  left: 10px;
}

.calendar-container .MuiButton-root:last-of-type {
  right: 10px;
}

.month-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.month-grid {
  width: 100%;
  height: 100%;
}

.month-grid .MuiGrid-item {
  border: 1px solid #ccc;
  height: calc(100% / 7); /* 1/7th of the height to fit all weeks */
  display: flex;
  align-items: center;
  justify-content: center;
}
